/*!
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

	.                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
		.. |      ||               ||
		 ''      ''''             ''''      A Typographic Starter Kit

  URL ........... http://typeplate.com
  VERSION ....... 1.1.2
  Github ........ https://github.com/typeplate/typeplate.github.io
  AUTHORS ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
  LICENSE ....... Creative Commmons Attribution 3.0
  LICENSE URL ... http://creativecommons.org/licenses/by/3.0

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */
@font-face {
  font-family: "Ampersand";
  src: local("Georgia"), local("Garamond"), local("Palatino"), local("Book Antiqua");
  unicode-range: U+0026;
}

@font-face {
  font-family: "Ampersand";
  src: local("Georgia");
  unicode-range: U+270C;
}

body {
  word-wrap: break-word;
}

pre code {
  word-wrap: normal;
}

/**
 * Dropcap Sass @include
 * Use the following Sass @include with any selector you feel necessary.
 *
	@include dropcap($dropcap-float-position, $dropcap-font-size, $dropcap-font-family, $dropcap-txt-indent, $dropcap-margin, $dropcap-padding, $dropcap-color, $dropcap-line-height, $dropcap-bg);
 *
 * Extend this object into your custom stylesheet. Let the variables do the work.
 *
 */
html {
  font: normal 112.5%/1.65 serif;
}

body {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  color: #444444;
}

small {
  font-size: 65%;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
}

.tera {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 0.25385rem;
}

.giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 0.33rem;
}

.mega {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 0.4125rem;
}

.alpha, h1 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 0.495rem;
}

.beta, h2 {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-bottom: 0.61875rem;
}

.gamma, h3 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 0.825rem;
}

.delta, h4 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-bottom: 1.2375rem;
}

.epsilon, h5 {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 1.41429rem;
}

.zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 1.65rem;
}

p {
  margin: auto auto 1.5em;
}
p + p {
  text-indent: 1.5em;
  margin-top: -1.5em;
}

abbr,
acronym,
blockquote,
code,
dir,
kbd,
listing,
plaintext,
q,
samp,
tt,
var,
xmp {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -o-hyphens: none;
  hyphens: none;
}

pre code {
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

pre {
  white-space: pre;
}

code {
  white-space: pre;
  font-family: monospace;
}

/**
 * Abbreviations Markup
 *
	<abbr title="hyper text markup language">HMTL</abbr>
 *
 * Extend this object into your markup.
 *
 */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray;
}
abbr[title]:hover {
  cursor: help;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
}

p + .drop-cap {
  text-indent: 0;
  margin-top: 0;
}

.drop-cap:first-letter {
  float: left;
  margin: inherit;
  padding: inherit;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit;
}

/**
 * Lining Definition Style Markup
 *
	<dl class="lining">
		<dt><b></b></dt>
		<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.lining dt,
.lining dd {
  display: inline;
  margin: 0;
}
.lining dt + dt:before,
.lining dd + dt:before {
  content: "\A";
  white-space: pre;
}
.lining dd + dd:before {
  content: ", ";
}
.lining dd:before {
  content: ": ";
  margin-left: -0.2rem;
}

/**
 * Dictionary Definition Style Markup
 *
	<dl class="dictionary-style">
		<dt><b></b></dt>
			<dd></dd>
	</dl>
 *
 * Extend this object into your markup.
 *
 */
.dictionary-style dt {
  display: inline;
  counter-reset: definitions;
}
.dictionary-style dt + dt:before {
  content: ", ";
  margin-left: -0.2rem;
}
.dictionary-style dd {
  display: block;
  counter-increment: definitions;
}
.dictionary-style dd:before {
  content: counter(definitions,decimal) ". ";
}

/**
 * Blockquote Markup
 *
		<figure>
			<blockquote cite="">
				<p></p>
			</blockquote>
			<figcaption>
				<cite>
					<small><a href=""></a></small>
				</cite>
			</figcaption>
		</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
	<aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	</aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.pull-quote {
  position: relative;
  padding: 1em;
}
.pull-quote:before, .pull-quote:after {
  height: 1em;
  opacity: 0.5;
  position: absolute;
  font-size: 4em;
  color: #dc976e;
}
.pull-quote:before {
  top: 0;
  left: 0;
}
.pull-quote:after {
  bottom: 0;
  right: 0;
}

/**
 * Figures Markup
 *
	<figure>
		<figcaption>
			<strong>Fig. 4.2 | </strong>Type Anatomy, an excerpt from Mark Boulton's book<cite title="http://designingfortheweb.co.uk/book/part3/part3_chapter11.php">"Designing for the Web"</cite>
		</figcaption>
	</figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
	<article>
		<p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
		<footer>
			<ol class="foot-notes">
				<li id="fn-itemX"><a href="#fn-returnX"></a></li>
			</ol>
		</footer>
	</article>
 *
 * Extend this object into your markup.
 *
 */
/*
 *
.||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.

    .                                      '||            .
  .||.  .... ... ... ...    ....  ... ...   ||   ....   .||.    ....
   ||    '|.  |   ||'  || .|...||  ||'  ||  ||  '' .||   ||   .|...||
   ||     '|.|    ||    | ||       ||    |  ||  .|' ||   ||   ||
   '|.'    '|     ||...'   '|...'  ||...'  .||. '|..'|'  '|.'  '|...'
        .. |      ||               ||
         ''      ''''             ''''                      VARIABLES

 .||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||..||.
 *
 */
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "calluna";
}
body.sidr-open .menu-toggler {
  left: 290px;
}
body.sidr-open .log-out {
  left: 302px;
}
body #login {
  display: none;
}
body.no-access .content {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  position: relative;
  z-index: 1;
}
body.no-access .menu-toggler, body.no-access #sidr, body.no-access .log-out {
  display: none;
}
body.no-access #login {
  display: block;
  width: 400px;
  height: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -175px 0 0 -200px;
  background: #fff;
  border: 1px solid #ddd;
  z-index: 2;
  text-align: center;
  padding: 20px 0 0 0;
  box-shadow: #333 0 10px 100px;
}
body.no-access #login img {
  width: 80px;
}
body.no-access #login input {
  font: normal 18px Helvetica,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  width: 80%;
  padding: 10px 16px;
  border: 1px solid #ccc;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
}
body.no-access #login input:focus {
  box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px 0px;
  border-color: #66afe9;
  outline: none;
}
body.no-access #login input:first-of-type {
  margin-top: 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: none;
}
body.no-access #login input:last-of-type {
  margin-bottom: 20px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
body.no-access #login button {
  background-color: #47a447;
  border: 1px solid #398439;
  border-radius: 4px;
  font: normal 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 6px 12px;
  box-shadow: rgba(0, 0, 0, 0.12157) 0px 3px 5px 0px inset;
  color: white;
}
body.no-access #login button:focus {
  box-shadow: rgba(0, 0, 0, 0.07451) 0px 1px 1px 0px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px 0px;
  border-color: #66afe9;
  outline: none;
}
body.no-access #login .line {
  width: 80%;
  margin: 15px auto;
  height: 1px;
  background: #ccc;
}
body.no-access #login .note {
  width: 80%;
  margin: 0 auto;
  font: normal 12px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #999999;
}
body a {
  color: #369;
}
body a:hover {
  color: #666;
}
body pre {
  font-family: Monaco, monospace;
}
body .content {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 30px;
}
body .content section {
  border-bottom: 1px solid #b9bdc9;
  margin: 30px 0 40px 0;
}
body .content section h2 {
  padding-bottom: 30px;
  margin-left: -24px;
}
body .content section:last-of-type {
  border-bottom: none;
}
body .content table {
  margin: 0 auto 30px;
}
body .content table thead th {
  border-bottom: 1px solid #ddd;
  padding-left: 20px;
}
body .content table thead th:last-of-type {
  padding-right: 20px;
}
body .content table tbody td {
  padding-left: 20px;
}
body .content .footer {
  border-top: 3px solid #b9bdc9;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 40px;
}
body .content ul.index a:hover {
  text-decoration: none;
}
body .log-out {
  position: fixed;
  left: 42px;
  top: 60px;
  cursor: pointer;
}
body .log-out i {
  color: #dddddd;
}
body .log-out i:hover {
  color: #333 !important;
}
body .menu-toggler {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
  height: 30px;
  left: 30px;
  position: fixed;
  top: 20px;
  width: 40px;
}
body .menu-toggler .line {
  width: 20px;
  margin-left: 10px;
  margin-top: 5px;
  height: 3px;
  background: #ccc;
  border-radius: 10px;
}
body .menu-toggler:hover {
  border-color: #999;
}
body .menu-toggler:hover .line {
  background: #999;
}
