@import "typeplate";
@import "vars-typeplate";

// color scheme: http://www.colourlovers.com/palette/3229252/Chime_In_Ancient

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "calluna";

    &.sidr-open {
        .menu-toggler {
            left: 290px;
        }
    }

    pre {
        font-family: Monaco, monospace;
    }

    .content {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 50px;
        padding-top: 30px;

        section {
            border-bottom: 1px solid #b9bdc9;
            margin: 30px 0 40px 0;

            h2 {
                padding-bottom: 30px;
                margin-left: -24px; // hanging punctuation
            }

            &:last-of-type {
                border-bottom: none;
            }
        }

        .footer {
            border-top: 3px solid #b9bdc9;
            padding-top: 20px;
            padding-bottom: 30px;
            margin-top: 40px;
        }

        ul.index {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .menu-toggler {
        position: fixed;
        width: 40px;
        height: 30px;
        border-radius: 5px;
        background:#fff;
        border: 1px solid #ddd;
        top: 20px;
        left: 30px;
        cursor: pointer;

        .line {
            width: 20px;
            margin-left: 10px;
            margin-top: 5px;
            height: 3px;
            background:#ccc;
            border-radius: 10px;
        }

        &:hover {
            border-color: #999;

            .line {
                background:#999;
            }
        }
    }
}
