<br>
<ul class="index">
    <li style="list-style: none">
        <h1 class="alpha">
            <a href="#/chapter-1" ng-click="toggleMenu()">
                <span style="color:#b9bdc9">§1</span> Introduction
            </a>
            <h1 class="gamma" style="padding-left: 80px">Quiz on §1</h1>
        </h1>
    </li>
    <li style="list-style: none">
        <h1 class="alpha">
            <a href="#/chapter-2" ng-click="toggleMenu()">
                <span style="color:#b9bdc9">§2</span> First steps
            </a>
            <h1 class="gamma" style="padding-left: 80px">Quiz on §2</h1>
        </h1>
    </li>
    <li style="list-style: none">
        <h1 class="alpha">
            <a href="#/chapter-3" ng-click="toggleMenu()">
                <span style="color:#b9bdc9">§3</span> Types and classes
            </a>
            <h1 class="gamma" style="padding-left: 80px">Quiz on §3</h1>
        </h1>
    </li>
</ul>
